<div class="pre ui-helper-clearfix">
    <div id="pre-text">
        <h1 class="section">Test</h1>
        <p>The test pages are for taginfo development only.</p>
    </div>
</div>
<div class="box resize">
    <h2>Test pages</h2>
    <ul>
        <li><a href="/test/wiki_import">Wiki import</a></li>
    </ul>
</div>
