<div>
    <div>
        <h1 class="section">Test</h1>
        <p>The test pages are for taginfo development only.</p>
    </div>
</div>
<div class="box">
    <h2>Test pages</h2>
    <ul>
    </ul>
</div>
