<h1>Wiki Import</h1>

<table>
    <% @invalid_page_titles.each do |row| %>
        <tr>
            <td><%= row['reason'] %></td>
            <td><%= row['title']  %></td>
        </tr>
    <% end %>
</table>
