<div>
    <div>
        <h1><%= h(t.reports.discardable_tags.name) %></h1>
        <p><%= h(t.reports.discardable_tags.intro) %></p>
        <p><%= h(t.reports.discardable_tags.more_on_wiki) %>
           <a class="extlink" target="_blank" href="https://wiki.openstreetmap.org/wiki/Discardable_tags">Discardable tags</a></p>
    </div>
</div>
<div class="box">
    <div id="grid-tags"></div>
</div>
