<div class="pre">
    <h1><%= @title %></h1>
    <%= t.reports.frequently_used_keys_without_wiki_page.intro %>
</div>
<div class="box resize">
    <div class="boxpre">
        <form method="" type="GET" style="margin-bottom: 10px;">
            <input type="checkbox" name="english" id="english"<%= params[:english] == '1' ? ' checked="checked"' : '' %>/>
            <%= t.reports.frequently_used_keys_without_wiki_page.also_show_keys %>
        </form>
    </div>
    <table id="grid-keys">
    </table>
</div>
<% javascript do
    JS.raw(<<"JAVASCRIPT")
function page_init2() {
    create_flexigrid_with_option(#{ params[:english] == '1' ? '1' : '0' });
    jQuery('#english').bind('click', function() {
        jQuery('#grid-keys').flexOptions({
            url: '/api/2/reports/frequently_used_keys_without_wiki_page?english=' + (jQuery('#english')[0].checked ? '1' : '0')
        });
        jQuery('#grid-keys').flexReload();
    });
}
JAVASCRIPT
end
%>
