<div>
    <div>
        <h1><%= h(t.reports.frequently_used_keys_without_wiki_page.name) %></h1>
        <%= t.reports.frequently_used_keys_without_wiki_page.intro %>
    </div>
</div>
<div class="box">
    <div>
        <form method="" type="GET" style="margin-bottom: 10px;">
            <input type="checkbox" name="english" id="english"<%= params[:english] == '1' ? ' checked="checked"' : '' %>/>
            <%= h(t.reports.frequently_used_keys_without_wiki_page.also_show_keys) %>
        </form>
    </div>
    <div id="grid-keys"></div>
</div>
