<h1>Reports</h1>

<h2>Database</h2>

<ul>
    <li><a href="/reports/characters_in_keys">Characters in keys</a></li>
    <li><a href="/reports/key_lengths">Keys lengths</a></li>
</ul>

<h2>Wiki</h2>

<ul>
    <li><a href="/reports/frequently_used_keys_without_wiki_page">Frequently used keys without wiki page</a></li>
</ul>

