<div class="pre">
    <h1><%= t.reports.josm_styles.name %></h1>
<!--
    Select style:
    <select>
    <% ['standard'].each do |style| %>
        <option id="<%= style %>" name="<%= style %>"><%= style %></option>
    <% end %>
    </select>-->
</div>
<div class="box resize">
    <table id="grid-rules">
    </table>
</div>
<% javascript do
    JS.raw(<<"JAVASCRIPT")
function page_init2() {
    create_flexigrid_for.reports.josm_styles('standard');
}
JAVASCRIPT
end
%>
<% javascript "#{ r18n.locale.code }/reports/josm_styles" %>
