<div class="pre">
    <h1><%= @title %></h1>
    <%= t.reports.key_lengths.intro %>
</div>
<div id="tabs">
    <ul>
        <li><a href="#keys">Keys</a></li>
        <li><a href="#histogram">Histogram</a></li>
    </ul>
    <div id="keys">
        <h2>Keys</h2>
        <table id="grid-keys">
        </table>
    </div>
    <div id="histogram">
        <h2>Histogram</h2>
        <p><%= t.reports.key_lengths.histogram.intro %><p>
        <div id="canvas"></div>
    </div>
</div>
<% javascript 'protovis-r3.2' %>
