<h1><%= t.reports.languages.name %></h1>

<%= t.reports.languages.intro %>

<table id="grid-langs">
</table>

<% javascript do
    JQuery.ready do
        JS.raw(%Q{ create_flexigrid_for.reports.languages(); })
    end
end
%>
