<h1><%= @title %></h1>

<p>OpenStreetMap is an international project. Tags and their descriptions can
be in any language. This table lists the languages Taginfo knows about and how
many wiki pages there are in these languages documenting keys and tags,
respectively.</p>

<table id="grid-langs">
</table>

<% javascript do
    JQuery.ready do
        JS.raw(%Q{ create_flexigrid_for.reports.languages(); })
    end
end
%>
