<div>
    <div>
        <h1><%= h(t.reports.name_tags.name) %></h1>
        <%= t.reports.name_tags.intro %>
    </div>
</div>
<div id="tabs">
    <ul>
        <li><a href="#overview"><%= h(t.reports.name_tags.overview.tab) %></a></li>
    </ul>
    <div id="overview">
        <h2><%= h(t.reports.name_tags.overview.title) %></h2>
        <div><p>Tag keys containing "name".</p></div>
        <div id="grid-name"></div>
    </div>
</div>
