<div>
    <div>
        <h1><%= h(t.reports.similar_keys.name) %></h1>
        <p><%= h(t.reports.similar_keys.intro) %></p>
    </div>
</div>
<div class="box">
<% begin @db.count('db.similar_keys_common_rare').execute() %>
    <div id="grid-keys"></div>
<% rescue %>
    <p><i>Report not available due to missing database table. Please run update!</i></p>
<% end %>
</div>
