<div class="pre">
    <h1><%= t.reports.similar_keys.name %></h1>
    <%= t.reports.similar_keys.intro %>
</div>
<div class="box resize">
<% begin @db.count('db.similar_keys_common_rare').execute() %>
    <table id="grid-keys">
    </table>
<% rescue %>
    <p><i>Report not available due to missing database table. Please run update!</i></p>
<% end %>
</div>
