<div>
    <div>
        <h1><%= h(t.reports.wiki_problems.name) %></h1>
        <p><%= h(t.reports.wiki_problems.intro) %></p>
    </div>
</div>
<div class="box">
    <div id="grid-problems"></div>
</div>
