<div>
    <div>
        <h1><%= h(t.reports.wiki_pages_about_non_existing_keys.name) %></h1>
        <p><%= h(t.reports.wiki_pages_about_non_existing_keys.intro) %></p>
    </div>
</div>
<div class="box">
    <div id="grid-keys"></div>
</div>
