<h1><%= @title %></h1>

<p>This table shows keys for which a wiki page exists but there is not a single
instance in the database. This is not necessarily an error (maybe somebody
added the documentation in the wiki as preparation for using a key or the wiki
page documents a now obsolete key), but it can also be a typo or other error.</p>

<table id="grid-keys">
</table>

<% javascript do
    JQuery.ready do
        JS.raw(%Q{ create_flexigrid_for.reports.wiki_pages_about_non_existing_keys(); })
    end
end
%>
