<div class="pre ui-helper-clearfix">
    <div id="pre-text">
        <h1><%= h(t.reports.wiki_pages_about_non_existing_keys.name) %></h1>
        <p><%= h(t.reports.wiki_pages_about_non_existing_keys.intro) %></p>
    </div>
</div>
<div class="box resize">
    <table id="grid-keys">
    </table>
</div>
