<h1><img src="/img/sources/wiki.32.png" alt="" title="Wiki"/> Wiki</h1>

<p>
    The <img src="/img/link-extern.gif" alt=""/><a class="extlink" href="http://wiki.openstreetmap.org/">OSM wiki</a>
    contains lots of documentation about tags but the information is
    far from complete.
</p>

<p>Taginfo finds all pages beginning with 'Key:' or 'Tag:' and their
counterparts for other languages (for example 'DE:Key:...'). </p>

<p>There are <%= @db.stats('wiki_pages_for_keys') %> wiki pages describing <%= @db.stats('wiki_keys_described') %> keys.

<p>There are pages in <%= @db.stats('wiki_languages') %> languages.</p>
