<h1><img src="/img/sources/wiki.32.png" alt="" title="Wiki"/> Wiki</h1>

<p>
    The <img src="/img/link-extern.gif" alt=""/><a class="extlink" href="http://wiki.openstreetmap.org/">OSM wiki</a>
    contains lots of documentation about tags but the information is
    far from complete.
</p>

<p>Taginfo finds all pages beginning with 'Key:' or 'Tag:' and their
counterparts for other languages (for example 'De:Key:...'). </p>

<p>[<a href="/sources/wiki/keys">Show all tag keys with pages on the wiki</a>]</p>

