<div class="fbox">
    <h2><%= h(t.pages.sources.statistics) %></h2>
    <div>
        <table class="desc">
            <tr><th>Discardable tags:</th><td><%= @db.stats('discardable_tags') %></td></tr>
            <tr><th>Deprecated keys/tags in iD:</th><td><%= @db.stats('deprecated_tags_id') %></td></tr>
        </table>
    </div>
</div>
<div class="fbox">
    <h2>Discardable Tags</h2>
    <div>
        <p><i>Discardable tags</i> are tags that the OpenStreetMap community
        has found not to be useful. Editors may remove these tags automatically
        and silently when they save new versions of an object.</p>
        <p><a href="<%= build_link('/sources/sw/discardable_tags') %>">More...</a></p>
    </div>
</div>
