<%
@title.unshift(h(t.pages.sources.import_errors))
%>

<h1><a href="<%= build_link("/sources/#{ @source.id }") %>"><%= @source.name %></a>:
    <%= h(t.pages.sources.import_errors) %></h1>

<p><%= h(t.pages.sources.wikidata.errors.description) %></p>

<div class="box">
    <div id="grid-errors"></div>
</div>
