<h1><a href="<%= build_link("/sources/#{ @source.id }") %>"><%= @source.name %></a>:
    <%= h(t.pages.sources.wikidata.items.title) %></h1>

<p><%= h(t.pages.sources.wikidata.items.description) %></p>

<div class="box">
    <div id="grid-items"></div>
</div>
