/* taginfo.css */

body {
    font-family: Verdana,Arial,sans-serif;
    padding: 0;
    margin: 0;
}

img {
    border: 0 none;
}

img.icon_large {
    position: relative;
    top: 3px;
}

h1 {
    margin-top: 0;
}

h2 {
    margin-top: 20px;
    margin-bottom: 4px;
}

p {
    margin-top: 2px;
}

p.text {
    max-width: 60em;
}

iframe {
    display: none;
}

/* ========== */

a {
    text-decoration: none;
    color: #006000;
}

a:hover {
    text-decoration: underline;
}

a.taglink {
    color: #006000 !important;
}

span.badchar {
    color: #e00000;
//    font-weight: bold;
}

span.whitespace {
    background-color: #e00000;
}

span.empty {
    font-style: italic;
}

a.wikilink {
    color: #832719 !important;
}

a.extlink {
}

/* ==========  */

span.button {
    background-color: #f0f0f0;
    color: #303030;
    border: 1px solid #e8e8e8;
    padding: 2px 4px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    -webkit-border-radius: 4px;
    -chrome-border-radius: 4px;
    -o-border-radius: 4px;
}

span.disabled {
    color: #808080;
}

/* ========== */

div#top {
    margin: 8px 20px;
    background-image: url('/img/bg-green.png');
    background-repeat: repeat-x;
    background-color: #b0f0b0;
    padding: 2px 16px 0 16px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    -webkit-border-radius: 4px;
    -chrome-border-radius: 4px;
    -o-border-radius: 4px;
}

div#top div#left span.breadcrumbs {
    position: relative;
    left: 8px;
    top: -6px;
}

div#top div#right {
    float: right;
    padding-top: 2px;
}

div#top div#middle {
    float: right;
    padding: 2px 30px 0 0;
}

div#top div#middle input#search {
    background-color: #ffffff;
    background-image: url('/css/flexigrid/images/magnifier.png');
    background-repeat: no-repeat;
    background-position: right 2px;
    border: 2px solid #ffffff;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    -webkit-border-radius: 4px;
    -chrome-border-radius: 4px;
    -o-border-radius: 4px;
}

div#date {
    position: absolute;
    right: 20px;
    font-size: 80%;
    text-align: right;
    color: #606060;
}

div#main {
    margin: 30px 20px 0 20px;
}

/* ========== */

div#tabs h2 {
    margin: 0 0 10px 0;
    font-size: 110%;
}

div#tabs form {
    margin-bottom: 6px;
    font-size: 80%;
}

/* ==========  */

table#overview {
    position: absolute;
    border-collapse: collapse;
    right: 20px;
    margin-top: 8px;
    background-color: #d0e0f0;
    background-image: url('/img/bg-blue.png');
    background-repeat: repeat-x;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    -webkit-border-radius: 4px;
    -chrome-border-radius: 4px;
    -o-border-radius: 4px;
}

table#overview th {
    border-bottom: 1px solid #ffffff;
    font-weight: normal;
    padding: 4px;
}

table#overview td {
    padding: 4px;
    color: #404040;
}

table#overview div.bar {
    background-color: #4080e0;
}

table#overview .count {
    width: 300px;
}

table#overview .values {
    text-align: right;
}

/* ========== */

table.stats {
    margin-top: 0;
    margin-left: 16px;
    margin-bottom: 20px;
    font-size: 80%;
}

div.stats h2 {
    margin-top: 0;
}

/* ========== */

div#tools {
    margin: 10px 0;
    font-size: 80%;
}

span.lang {
    background-color: #f0e0f0;
    color: #202020;
    border: 1px solid #808080;
    font-weight: bold;
    font-size: 80%;
    padding: 0 4px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    -webkit-border-radius: 4px;
    -chrome-border-radius: 4px;
    -o-border-radius: 4px;
}

td.number {
    text-align: right;
//    color: #e06000;
}

span.char {
    background-color: #f0f0f0;
    border: 1px solid #e0e0e0;
    padding: 0 2px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    -webkit-border-radius: 4px;
    -chrome-border-radius: 4px;
    -o-border-radius: 4px;
}

.source-wiki {
    background-color: #e0d0c0;
    padding: 2px 6px;
    width: 50%;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    -webkit-border-radius: 4px;
    -chrome-border-radius: 4px;
    -o-border-radius: 4px;
}

form#filter-form {
    padding-bottom: 20px;
}

div.canvas {
    border: 1px solid #cccccc;
    background-color: #ffffff;
}

/* ========== */

div.value {
    width: 6em;
    float: left;
    padding: 0 !important;
    margin: 0 !important;
    text-align: right;
}

div.fraction {
    width: 5em;
    float: left;
    padding: 0 !important;
    margin: 0 !important;
    text-align: right;
}

div.bar {
    float: left;
    margin: 4px 0 0 6px !important;
    padding: 0 !important;
    height: 8px;
    background-color: #60c060;
}

/* ========== */

table.list {
    background-image: url('/img/bg-green.png');
    background-position: 0 -2px;
    background-repeat: repeat-x;
    background-color: #b0f0b0;
    border-collapse: collapse;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    -webkit-border-radius: 4px;
    -chrome-border-radius: 4px;
    -o-border-radius: 4px;
}

table.list th {
    padding: 4px;
    font-weight: normal;
    vertical-align: top;
}

table.list td {
    background-color: #ffffff;
    padding: 4px 10px;
    vertical-align: top;
}

table.list td.border {
    background-color: #b0f0b0;
    padding: 4px;
}

/* ========== */

table.reports {
    border-collapse: collapse;
}

table.reports th.source {
    background-color: #f0f0f0;
    font-size: 80%;
    padding-bottom: 4px;
    -moz-border-radius: 4px 4px 0 0;
    -khtml-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -chrome-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
}

table.reports td {
    padding: 2px 4px;
}

table.reports td.source {
    background-color: #f0f0f0;
    text-align: center;
    padding: 2px 0 0 0;
    width: 24px;
}

table.reports th.last {
    background-color: #f0f0f0;
    height: 8px;
    -moz-border-radius: 0 0 4px 4px;
    -khtml-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -chrome-border-radius: 0 0 4px 4px;
    -o-border-radius: 0 0 4px 4px;
}

/* ==========  */

table.drilldown {
    border-collapse: separate;
    border-spacing: 10px;
}

table.drilldown td, table.drilldown th {
    vertical-align: top;
}

table.drilldown th h2 {
    padding: 0;
    margin: 0;
}

table.drilldown td.content {
    width: 16em;
    border: 1px solid #d0d0d0;
    background-color: #f0f0f0;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    -webkit-border-radius: 4px;
    -chrome-border-radius: 4px;
    -o-border-radius: 4px;
    padding: 10px 0;
}

table.drilldown td.content div {
    width: 100%;
    padding: 1px 0;
}

table.drilldown td.content div.current {
    background-color: #e0e0e0;
}

table.drilldown td.arrow {
    vertical-align: middle;
    font-size: 200%;
}

table.drilldown td#feature {
    min-width: 16em;
    padding: 10px;
}

/* ==========  */

table.desc {
    background-color: #f0f0f0;
    padding: 6px;
    width: 100%;
}

table.desc th {
    text-align: left;
    vertical-align: top;
    font-weight: normal;
    width: 8em;
    padding: 2px;
}

table.desc td {
    vertical-align: top;
    background-color: #ffffff;
    padding: 2px;
}

/* ==========  */

div#instance_description a {
    text-decoration: underline;
}

/* ==========  */
