/* taginfo.css */

body {
    font-family: Arial,sans-serif;
    padding: 0;
    margin: 0;
    line-height: 130%;
}

@media print {
    .no-print {
        display: none !important;
    }
}

img {
    border: 0 none;
}

img.map {
    border: 1px solid #b8b8b0;
}

td img, span.button img {
    position: relative;
    top: 3px;
}

img.icon_large {
    position: relative;
    top: 1px;
    width: 20px;
    height: 20px;
}

h1 {
    margin: 0 0 4px 0;
    font-size: 150%;
}

h1.section {
    text-transform: uppercase;
}

h2 {
    margin-top: 20px;
    margin-bottom: 4px;
}

p {
    color: #404040;
    margin: 0 0 6px 0;
    max-width: 60em;
}

.emphasis {
    font-weight: bold;
    font-size: 110%;
}

div#javascriptmsg {
    position: absolute;
    top: 0px;
    left: 380px;
    background-color: #f08080;
    padding: 10px;
    margin: 20px 40px;
}

iframe {
    display: none;
}

/* ========== */

a {
    text-decoration: none;
    color: #083e76;
}

a:hover {
    text-decoration: underline;
}

span.badchar {
    color: #e00000;
}

span.whitespace {
    background-color: #e00000;
}

.empty {
    font-style: italic;
    color: #404040;
}

a.extlink:before {
    content: "\2794\2009";
}

a.section {
    text-transform: uppercase;
    font-size: 200%;
    position: relative;
    top: -9px;
    color: #000000;
    text-decoration: none;
}

div#pre-text {
    float: left;
    max-width: 60em;
    margin-bottom: 20px;
}

/* ==========  */

span.button {
    background-color: #f0f0f0;
    color: #303030;
    border: 1px solid #e8e8e8;
    padding: 2px 4px;
    border-radius: 4px;
}

span.button a.extlink:before {
    content: none;
}

span.disabled {
    color: #808080;
}

/* ========== */

.tipsy { font-size: 80%; position: absolute; padding: 5px; z-index: 100000; }
.tipsy-inner { background-color: #000; color: #FFF; max-width: 220px; padding: 5px 8px 4px 8px; text-align: center; }

/* Rounded corners */
.tipsy-inner { border-radius: 4px; }

.tipsy-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #000; }

/* Rules to colour arrows */
.tipsy-arrow-n { border-bottom-color: #000; }
.tipsy-arrow-s { border-top-color: #000; }
.tipsy-arrow-e { border-left-color: #000; }
.tipsy-arrow-w { border-right-color: #000; }

.tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
.tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
.tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
.tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
.tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
.tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
.tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
.tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }

/* ========== */

span.customSelect {
    margin: 0;
    padding: 1px 4px 0 4px;
    border:1px solid #a0a0a0;
    background-color: #ffffff;
    border-radius: 4px;
    font-size: 90%;
    text-align: left;
}

.customSelectInner {
    background:url(/img/arrow.png) no-repeat center right;
}

/* ========== */

div#header {
    padding: 15px 20px 20px 20px;
}

div#header_date {
    position: absolute;
    top: 12px;
    right: 20px;
    font-size: 80%;
    text-align: right;
    color: #808080;
}

div#header div#header_forms {
    position: absolute;
    right: 20px;
    top: 31px;
}

div#header div#header_forms form {
    float: left;
    padding-left: 22px;
}

select#locale, select#lang {
    font-size: 90%;
    background-color: #ffffff;
    width: 98px;
    border: none;
}

div#header input#search {
    height: 18px;
    width: 228px;
    padding: 2px;
}

input#search, p.search {
    background-image: url('/css/flexigrid/images/magnifier.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-color: #ffffff;
    border: 1px solid #a0a0a0;
    border-radius: 4px;
}

input:focus {
    background-color: #ffffe0 !important;
    outline: none;
}

/* ========== */

div#main {
    margin: 0 20px;
}

/* ========== */

div#footer {
    clear: both;
    position: relative;
    font-size: 90%;
    margin: 0 20px;
    padding: 4px 0;
    height: 20px;
}

div#footer_left {
    position: absolute;
}

div#footer_right {
    position: absolute;
    right: 0px;
    text-align: right;
}

/* ========== */

div.box {
    background-color: #ddddd4;
    padding: 20px;
    border-radius: 4px;
}

.resize, .ui-tabs-panel {
    overflow: hidden;
}

/* ==========  */

div.boxes {
    width: 232px;
    float: right;
}

table.boxes {
    border-collapse: collapse;
}

.boxes h2 {
    text-transform: uppercase;
    font-weight: normal;
    margin: 16px 0 2px 0px;
}

.boxes h2 a {
    color: #000000;
    text-decoration: none;
}

.boxes h3 {
    margin: 12px 0 2px 0;
}

table.boxes td {
    vertical-align: bottom;
}

table.boxes td.box {
    vertical-align: top;
    font-size: 90%;
    background-color: #ddddd4;
    padding: 8px;
    border-radius: 4px;
}

table.boxes td.box table {
    width: 100%;
}

/* ==========  */

div#tabs h2, div.box h2 {
    margin: 0 0 10px 0;
    font-size: 120%;
}

div#tabs form {
    margin-bottom: 6px;
    font-size: 80%;
}

/* ========== */

div#tools {
    clear: both;
    float: right;
    font-size: 80%;
    margin-top: 4px;
}

span.lang {
    position: relative;
    top: -1px;
    background-color: #f0e0f0;
    color: #202020;
    border: 1px solid #b8b8b0;
    font-weight: bold;
    font-size: 80%;
    padding: 0 4px;
    border-radius: 4px;
}

.note {
    font-size: 80%;
}

td.number {
    text-align: right;
    width: 8em;
}

span.char {
    background-color: #f0f0f0;
    border: 1px solid #e0e0e0;
    padding: 0 2px;
    border-radius: 4px;
}

form#list-form {
    margin: 0 20px 0 0;
    float: right;
}

select#list {
    background-color: #ffffff;
    color: #083e76;
}

form#filter-form {
    margin-top: 0px;
    clear: both;
    float: right;
}

select#filter {
    min-width: 146px;
    background-color: #ffffff;
}

/* ========== */

div.value {
    width: 6em;
    float: left;
    padding: 0 !important;
    margin: 0 !important;
    text-align: right;
}

div.fraction {
    width: 5em;
    float: left;
    padding: 0 !important;
    margin: 0 !important;
    text-align: right;
}

div.bar {
    float: left;
    margin: 4px 0 0 6px !important;
    padding: 0 !important;
    height: 8px !important;
    background-color: #a0a098;
}

/* ========== */

span.overflow:hover {
    position: absolute;
    padding-right: 6px;
    background-color: #ffffff;
    z-index: 100;
}

/* ========== */

table.list {
    border-collapse: collapse;
    font-size: 80%;
}

table.list th, table.list td {
    border-right: 1px solid #ddddd4;
    padding: 2px 6px;
}

table.list th {
    background-color: #b8b8b0;
    height: 28px;
    vertical-align: middle;
}

table.list td {
    background-color: #e8e8e4;
    height: 22px;
    vertical-align: top;
}

table.list td.even {
    background-color: #d0d0c8;
}

table.list th.tl, table.list td.tl {
    text-align: left;
}

table.list th.tc, table.list td.tc {
    text-align: center;
}

table.list th.tr, table.list td.tr {
    text-align: right;
}

table.list td.nowrap {
    white-space: nowrap;
}

/* ========== */

table.comparison {
    border-spacing: 10px 1px;
    margin: 0 -10px 10px -10px;
}

table.comparison a.close {
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid #e8e8e4;
    border-radius: 4px;
}

table.comparison a.close:hover {
    border: 1px solid #d0d0d0;
}

table.comparison td.data h2 {
    position: relative;
    clear: both;
    top: -12px;
    margin-left: 20px;
    margin-right: 20px;
}

table.comparison th.data, table.comparison td.data {
    padding: 10px;
    background-color: #e8e8e4;
    vertical-align: top;
    text-align: center;
}

table.comparison td.first {
    border-radius: 10px 10px 0 0;
}

table.comparison td.last {
    border-radius: 0 0 10px 10px;
}

/* ========== */

table.compstat {
    width: 100%;
}

table.compstat th {
    white-space: nowrap;
    text-align: left;
    width: 25%;
}

table.compstat td {
    white-space: nowrap;
    text-align: right;
    width: 25%;
}

/* ========== */

table.drilldown {
    border-collapse: separate;
    border-spacing: 10px;
}

table.drilldown td, table.drilldown th {
    vertical-align: top;
}

table.drilldown th h2 {
    padding: 0;
    margin: 0;
}

table.drilldown td.content {
    width: 16em;
    border: 1px solid #d0d0d0;
    background-color: #f0f0f0;
    border-radius: 4px;
    padding: 10px 0;
}

table.drilldown td.content div {
    width: 100%;
    padding: 1px 0;
}

table.drilldown td.content div.current {
    background-color: #e0e0e0;
}

table.drilldown td.arrow {
    vertical-align: middle;
    font-size: 200%;
}

table.drilldown td#feature {
    min-width: 16em;
    padding: 10px;
}

/* ==========  */

table.desc {
    background-color: #ddddd4;
    border-radius: 4px;
    padding: 6px;
    width: 100%;
}

table.desc > tbody > tr > th {
    text-align: left;
    vertical-align: top;
    font-weight: normal;
    width: 8em;
    padding: 2px;
}

table.desc > tbody > tr > td {
    vertical-align: top;
    background-color: #f8f8f8;
    padding: 2px 4px;
    border-radius: 1px;
}

table.apiresults {
}

table.apiresults td {
    font-size: 80%;
    padding: 2px 4px;
    line-height: 100%;
}

/* ==========  */

div.hDiv table th span {
    display: block;
}

/* ==========  */

.good {
    color: #00a000;
}

.okay {
}

.bad {
    color: #ff0000;
}

/* ==========  */

div#help {
    display: none;
}

table.help_table {
    width: 100%;
    border-collapse: collapse;
}

table.help_table td {
    vertical-align: top;
    padding: 2px 6px 2px 0;
}

table.help_table th {
    padding-bottom: 10px;
    text-align: left;
}

span.key {
    position: relative;
    top: -1px;
    border: 1px solid #e8e8e8;
    padding: 1px 4px;
    border-radius: 4px;
    background-color: #f0f0f0;
    font-family: monospace;
}

p.search {
    margin: 0 0 16px 0;
}

/* ==========  */

div.wiki_image {
    float: right;
}

div.wiki_image img {
    border: 1px solid #a0a0a0;
    border-radius: 4px;
    padding: 1px;
}

div.img_popup {
    background-image: url(/img/indicator.gif);
    background-position: center center;
    background-repeat: no-repeat;
}

/* ==========  */

div#tagcloud a:hover {
    text-decoration: none;
}

/* ==========  */

.canvas svg text {
    font: 12px Arial,sans-serif;
}

.canvas .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.canvas .axis path {
  display: none;
}

/* ==========  */

table.wiki-images {
    border-spacing: 4px;
}

table.wiki-images td.key {
    background-color: #ffffff;
    padding: 0 10px;
}

table.wiki-images td.images {
    padding: 0;
}

table.wiki-images td.images div.langimg {
    position:relative;
    width: 50px;
    height: 50px;
    float: left;
    z-index: 0;
    margin-right: 4px;
}

table.wiki-images td.images div div {
    position: absolute;
    bottom: 0px;
    width: 50px;
    height: 12px;
    text-align: center;
    font-size: 80%;
    line-height: 1;
    z-index: 2;
    background-color: #202020;
    color: #ffffff;
}

table.wiki-images td.images div img {
    z-index: 1;
    margin: 0 auto;
    display: block;
    max-width: 50px;
    max-height: 50px;
    top: 0;
}

