/* taginfo.css */

body {
    font-family: Arial,sans-serif;
    padding: 0;
    margin: 0;
    line-height: 130%;
}

img {
    border: 0 none;
}

img.map {
    border: 1px solid #b8b8b0;
}

img.icon_large {
    position: relative;
    top: 3px;
}

h1 {
    margin: 0 0 4px 0;
    font-size: 150%;
}

h1.section {
    text-transform: uppercase;
}

h2 {
    margin-top: 20px;
    margin-bottom: 4px;
}

p {
    color: #404040;
    margin: 0 0 6px 0;
    max-width: 60em;
}

p.emphasis {
    font-weight: bold;
    font-size: 110%;
}

iframe {
    display: none;
}

/* ========== */

a {
    text-decoration: none;
    color: #083e76;
}

a:hover {
    text-decoration: underline;
}

span.badchar {
    color: #e00000;
}

span.whitespace {
    background-color: #e00000;
}

.empty {
    font-style: italic;
    color: #404040;
}

a.extlink:before {
    content: "\2794";
}

a.section {
    text-transform: uppercase;
    font-size: 200%;
    position: relative;
    top: -9px;
    color: #000000;
    text-decoration: none;
}

div.pre {
    margin-bottom: 20px;
}

/* ==========  */

span.button {
    background-color: #f0f0f0;
    color: #303030;
    border: 1px solid #e8e8e8;
    padding: 2px 4px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    -webkit-border-radius: 4px;
    -chrome-border-radius: 4px;
    -o-border-radius: 4px;
}

span.disabled {
    color: #808080;
}

/* ========== */

.tipsy { font-size: 80%; position: absolute; padding: 5px; z-index: 100000; }
.tipsy-inner { background-color: #000; color: #FFF; max-width: 180px; padding: 5px 8px 4px 8px; text-align: center; }

/* Rounded corners */
.tipsy-inner { border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }

.tipsy-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #000; }

/* Rules to colour arrows */
.tipsy-arrow-n { border-bottom-color: #000; }
.tipsy-arrow-s { border-top-color: #000; }
.tipsy-arrow-e { border-left-color: #000; }
.tipsy-arrow-w { border-right-color: #000; }

.tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
.tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
.tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
.tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
.tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
.tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
.tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
.tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }

/* ========== */

span.customStyleSelectBox { 
    margin: 0;
    padding: 1px 4px 0 4px;
    border:1px solid #a0a0a0;
    background-color: #ffffff;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    -webkit-border-radius: 4px;
    -chrome-border-radius: 4px;
    -o-border-radius: 4px;
    font-size: 90%;
}

span.customStyleSelectBox.changed { }

.customStyleSelectBoxInner {
    background:url(/img/arrow.png) no-repeat center right;
}

/* ========== */

div#header {
    padding: 15px 20px 20px 20px;
}

div#header_date {
    position: absolute;
    top: 12px;
    right: 20px;
    font-size: 80%;
    text-align: right;
    color: #808080;
}

div#header div#header_forms {
    position: absolute;
    right: 20px;
    top: 31px;
}

div#header div#header_forms form {
    float: left;
    padding-left: 22px;
}

select#locale {
    font-size: 90%;
    background-color: #ffffff;
    width: 98px;
    border: none;
}

input#search {
    background-image: url('/css/flexigrid/images/magnifier.png');
    background-repeat: no-repeat;
    background-position: right 3px;
    height: 18px;
    width: 228px;
    padding: 2px;
    border: 1px solid #a0a0a0;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    -webkit-border-radius: 4px;
    -chrome-border-radius: 4px;
    -o-border-radius: 4px;
}

input#search:active {
}

/* ========== */

div#main {
    margin: 0 20px;
}

/* ========== */

div#footer {
    clear: both;
    position: relative;
    font-size: 90%;
    margin: 0 20px;
    padding: 4px 0;
    height: 20px;
}

div#footer_left {
    position: absolute;
}

div#footer_right {
    position: absolute;
    right: 0px;
    text-align: right;
}

/* ========== */

div.box {
    background-color: #ddddd4;
    padding: 20px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    -webkit-border-radius: 4px;
    -chrome-border-radius: 4px;
    -o-border-radius: 4px;
}

.resize, .ui-tabs-panel {
    overflow: hidden;
}

/* ==========  */

div.boxes {
    width: 232px;
    float: right;
}

table.boxes {
    border-collapse: collapse;
}

.boxes h2 {
    text-transform: uppercase;
    font-weight: normal;
    margin: 16px 0 2px 0px;
}

.boxes h2 a {
    color: #000000;
    text-decoration: none;
}

table.boxes td {
    vertical-align: bottom;
}

table.boxes td.box {
    vertical-align: top;
    font-size: 90%;
    background-color: #ddddd4;
    padding: 8px;
    margin-bottom: 10px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    -webkit-border-radius: 4px;
    -chrome-border-radius: 4px;
    -o-border-radius: 4px;
}

/* ==========  */

div#tabs h2, div.box h2 {
    margin: 0 0 10px 0;
    font-size: 120%;
}

div#tabs form {
    margin-bottom: 6px;
    font-size: 80%;
}

/* ========== */

div#tools {
    float: right;
    font-size: 80%;
    margin-top: 2px;
}

span.lang {
    background-color: #f0e0f0;
    color: #202020;
    border: 1px solid #808080;
    font-weight: bold;
    font-size: 80%;
    padding: 0 4px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    -webkit-border-radius: 4px;
    -chrome-border-radius: 4px;
    -o-border-radius: 4px;
}

td.number {
    text-align: right;
}

span.char {
    background-color: #f0f0f0;
    border: 1px solid #e0e0e0;
    padding: 0 2px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    -webkit-border-radius: 4px;
    -chrome-border-radius: 4px;
    -o-border-radius: 4px;
}

form#filter-form {
    margin-top: 10px;
    clear: both;
    float: right;
}

select#filter {
    width: 146px;
    background-color: #ffffff;
}

div.canvas {
    border: 1px solid #cccccc;
    background-color: #ffffff;
}

/* ========== */

div.value {
    width: 6em;
    float: left;
    padding: 0 !important;
    margin: 0 !important;
    text-align: right;
}

div.fraction {
    width: 5em;
    float: left;
    padding: 0 !important;
    margin: 0 !important;
    text-align: right;
}

div.bar {
    float: left;
    margin: 4px 0 0 6px !important;
    padding: 0 !important;
    height: 8px;
    background-color: #a0a098;
}

/* ========== */

table.list {
    border-collapse: collapse;
}

table.list th, table.list td {
    border-right: 1px solid #ddddd4;
    padding: 2px 6px;
    vertical-align: top;
}

table.list th {
    background-color: #b8b8b0;
}

table.list td {
    background-color: #e8e8e4;
}

table.list td.even {
    background-color: #d0d0c8;
}

table.list th.tl, table.list td.tl {
    text-align: left;
}

table.list th.tc, table.list td.tc {
    text-align: center;
}

table.list th.tr, table.list td.tr {
    text-align: right;
}

/* ========== */

table.drilldown {
    border-collapse: separate;
    border-spacing: 10px;
}

table.drilldown td, table.drilldown th {
    vertical-align: top;
}

table.drilldown th h2 {
    padding: 0;
    margin: 0;
}

table.drilldown td.content {
    width: 16em;
    border: 1px solid #d0d0d0;
    background-color: #f0f0f0;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    -webkit-border-radius: 4px;
    -chrome-border-radius: 4px;
    -o-border-radius: 4px;
    padding: 10px 0;
}

table.drilldown td.content div {
    width: 100%;
    padding: 1px 0;
}

table.drilldown td.content div.current {
    background-color: #e0e0e0;
}

table.drilldown td.arrow {
    vertical-align: middle;
    font-size: 200%;
}

table.drilldown td#feature {
    min-width: 16em;
    padding: 10px;
}

/* ==========  */

table.desc {
    background-color: #b8b8b0;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    -webkit-border-radius: 4px;
    -chrome-border-radius: 4px;
    -o-border-radius: 4px;
    padding: 6px;
    width: 100%;
}

table.desc th {
    text-align: left;
    vertical-align: top;
    font-weight: normal;
    width: 8em;
    padding: 2px;
}

table.desc td {
    vertical-align: top;
    background-color: #ffffff;
    padding: 2px;
}

/* ==========  */
