/* taginfo.css */

body {
    font-family: Arial,sans-serif;
    padding: 0;
    margin: 0;
    line-height: 130%;
}

html[dir="rtl"] body {
    font-family: 'Noto Sans Arabic UI', Tahoma, sans-serif;
}

@media print {
    .no-print {
        display: none !important;
    }
}

img {
    border: 0 none;
}

img.map {
    border: 1px solid #b8b8b0;
}

td img {
    position: relative;
    top: 3px;
}

h1 {
    margin: 0 0 4px 0;
    font-size: 1.5rem;
}

h1.section {
    text-transform: uppercase;
}

h2 {
    margin-top: 20px;
    margin-bottom: 4px;
}

p {
    color: #404040;
    margin: 0 0 6px 0;
    max-width: 60em;
}

.emphasis {
    font-weight: bold;
    font-size: 1rem;
}

div#javascriptmsg {
    position: absolute;
    top: 0px;
    left: 380px;
    background-color: #f08080;
    padding: 10px;
    margin: 20px 40px;
}

html[dir="rtl"] div#javascriptmsg {
    left: auto;
    right: 380px;
}

/* ========== */

a {
    text-decoration: none;
    color: #083e76;
}

a:hover {
    text-decoration: underline;
}

div#tagcloud a:hover {
    text-decoration: none;
}

span.badchar {
    color: #e00000;
}

span.whitespace {
    background-color: #e00000;
}

.empty {
    font-style: italic;
    color: #404040;
}

a.extlink:before {
    content: "\2192\2009";
}

html[dir="rtl"] a.extlink:before {
    content: "\1F517\00A0";
}

a.section {
    text-transform: uppercase;
    text-decoration: none;
}

/* ==========  */

.button {
    background-color: #f0f0f0;
    color: #303030;
    border: 1px solid #e8e8e8;
    padding: 2px 4px;
    border-radius: 4px;
}

.button a.extlink:before {
    content: none;
}

.disabled {
    color: #808080;
    cursor: not-allowed !important;
}

/* ========== */

form#filter-form {
    margin-top: 0px;
    height: 3ex;
    float: right;
}

html[dir="rtl"] form#filter-form {
    float: left;
}

select {
    appearance: none;
    margin: 0;
    padding: 2px 4px;
    min-width: 10em;
    border: 1px solid #a0a0a0;
    border-radius: 4px;
    font-size: 0.9rem;
    cursor: pointer;
    height: 100%;
}

#comparison-list, select {
    /*background-image: url(/img/inline/arrow.svg);*/
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAyNCAyNCc+PHBhdGggc3R5bGU9J2ZpbGw6ICM4MDgwODAnIGQ9J00yIDQgSDIyIEwxMiAyMHonLz48L3N2Zz4K);
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center right 2px;
    background-size: 12px 12px;
}

/* ========== */

header {
    padding: 15px 20px 4px 20px;
}

@media screen and (max-width: 640px) {
    header {
        position: absolute;
        top: 20px;
    }
}

div#header_date {
    position: absolute;
    top: 12px;
    right: 20px;
    font-size: 0.8rem;
    text-align: right;
    color: #808080;
}

html[dir="rtl"] div#header_date {
    right: auto;
    left: 20px;
    text-align: left;
}

header div#header_forms {
    position: absolute;
    right: 20px;
    top: 31px;
}

html[dir="rtl"] header div#header_forms {
    right: auto;
    left: 20px;
}

header div#header_forms form {
    float: left;
    padding-left: 22px;
    height: 24px;
}

html[dir="rtl"] header div#header_forms form {
    float: right;
    padding-left: 0;
    padding-right: 22px;
}

input#search {
    height: 18px;
    width: 228px;
    padding: 2px 4px;
    font-size: 0.9rem;
}

#suggestions {
    position: relative;
    display: none;
    width: 228px;
    padding: 2px 2px;
    font-size: 0.9rem;
    background-color: #ffffff;
    border: 1px solid #a0a0a0;
    border-radius: 4px;
    z-index: 1;
}

#suggestions a {
    display: block;
    padding: 4px 6px;
    text-decoration: none;
}

#suggestions a.active {
    background-color: #ddddd4;
    border-radius: 4px;
}

input#search, p.search {
    background-image: url('/css/flexigrid/images/magnifier.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: right center;
    background-color: #ffffff;
    border: 1px solid #a0a0a0;
    border-radius: 4px;
}

p.search {
    height: 16px;
    padding: 4px;
}

input:focus {
    background-color: #ffffe0 !important;
    outline: none;
}

@media screen and (max-width: 640px) {
    input#search {
        margin-top: -1px;
        height: 21px;
    }
}

/* ========== */

@media screen and (min-width: 641px) {
    ul#menu {
        margin: 0px 0px 20px 0px;
        padding: 2px 20px;
        border-bottom: 1px solid #b8b8b0;
        background: linear-gradient(to bottom, #ffffff 0%, #e8e8e4 100%);
    }

    ul#menu li {
        margin: 0;
        padding: 0;
        text-indent: 0;
        text-transform: uppercase;
        font-weight: normal;
        display: inline;
    }

    ul#menu li:after {
        content: " \00b7 ";
    }

    ul#menu li:last-child:after {
        content: "";
    }

    ul#menu a:hover {
        text-decoration: none;
        border-bottom: 3px solid #b8b8b0;
    }

    ul#menu a.selected {
        text-decoration: none;
        border-bottom: 3px solid #b8b8b0;
    }

    div#tools {
        clear: right;
        float: right;
        font-size: 0.8rem;
        margin-top: 4px;
    }

    div#tools ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    div#tools li {
        display: inline;
    }

    html[dir="rtl"] div#tools {
        clear: left;
        float: left;
    }

}

@media screen and (max-width: 640px) {
    #menu-button-wrapper {
        height: 48px;
        margin-bottom: 6px;
        border-bottom: 1px solid #b8b8b0;
    }

    #menu-button {
        /*background-image: url('/img/inline/menu.svg');*/
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxMCAxMCcgc3Ryb2tlPScjZmZmZmZmJyBzdHJva2Utd2lkdGg9JzEuNScgc3Ryb2tlLWxpbmVjYXA9J3JvdW5kJyBzdHJva2UtbGluZWpvaW49J3JvdW5kJz48cGF0aCBkPSdNMSAyIEw5IDIgTTEgNSBMOSA1IE0xIDggTDkgOCcvPjwvc3ZnPgo);
        background-size: 24px 24px;
        background-position: center center;
        background-repeat: no-repeat;
        background-color: #b8b8b0;
        border-radius: 4px;
        width: 32px;
        height: 32px;
        margin: 8px 10px 10px 10px;
        float: right;
    }

    #menu-button.active {
        /*background-image: url('/img/inline/close.svg');*/
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxMCAxMCcgc3Ryb2tlPScjODA4MDgwJyBzdHJva2Utd2lkdGg9JzEuNScgc3Ryb2tlLWxpbmVjYXA9J3JvdW5kJyBzdHJva2UtbGluZWpvaW49J3JvdW5kJz48cGF0aCBkPSdNMiAyIEw4IDggTTggMiBMMiA4Jy8+PC9zdmc+Cg);
    }

    ul#menu {
        display: none;
        position: absolute;
        top: 40px;
        right: 0;
        margin: 0;
        width: 100%;
        z-index: 10000;
        background: linear-gradient(to bottom, #ffffff 0%, #e8e8e4 100%);
        border-bottom: 3px solid #b8b8b0;
        list-style: none;
    }

    ul#menu li {
        margin: 0;
        padding: 0;
        text-indent: 0;
        text-transform: uppercase;
        font-weight: normal;
    }

    ul#menu a {
        padding: 5px 10px;
        margin: 2px 5px;
        text-decoration: none;
        display: block;
        color: #202020;
        text-align: right;
        font-size: 1.2rem;
    }

    #toolsmenu {
        /*background-image: url('/img/inline/tools.svg');*/
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9JzAgMCAyNCAyNCcgZmlsbD0nI2ZmZmZmZicgc3Ryb2tlPScjZmZmZmZmJyBzdHJva2Utd2lkdGg9JzAuMScgc3Ryb2tlLWxpbmVjYXA9J3JvdW5kJyBzdHJva2UtbGluZWpvaW49J3JvdW5kJz48cGF0aCBkPSdNMTQuNyA2LjNhMSAxIDAgMCAwIDAgMS40bDEuNiAxLjZhMSAxIDAgMCAwIDEuNCAwbDMuNzctMy43N2E2IDYgMCAwIDEtNy45NCA3Ljk0bC02LjkxIDYuOTFhMi4xMiAyLjEyIDAgMCAxLTMtM2w2LjkxLTYuOTFhNiA2IDAgMCAxIDcuOTQtNy45NGwtMy43NiAzLjc2eicvPjwvc3ZnPgo);
        background-size: 24px 24px;
        background-position: center center;
        background-repeat: no-repeat;
        background-color: #b8b8b0;
        border-radius: 4px;
        width: 32px;
        height: 32px;
        margin: 0 0 8px 8px;
        float: right;
    }

    html[dir="rtl"] div#toolsmenu {
        float: left;
    }

    div#tools {
        display: none;
    }

    div#tools ul {
        position: absolute;
        top: 60px;
        right: 44px;
        margin: 0;
        z-index: 10000;
        background: #e8e8e4;
        border: 1px solid #b8b8b0;
        border-radius: 4px;
        list-style: none;
    }

    div#tools li {
        padding: 5px 10px;
        margin: 2px 5px;
        text-indent: 0;
        text-transform: uppercase;
        font-weight: normal;
        text-align: right;
        font-size: 1.2rem;
        display: block;
    }

    div#tools li.button {
        background-color: transparent;
        border: none;
    }

    div#tools a {
        text-decoration: none;
        color: #202020;
    }
}

@media screen and (max-width: 640px) {
    #set_language, #header_date, #comparison-list, .pJSON, #osmlink {
        display: none;
    }

    header {
        top: 0;
    }

    div#header_logo {
        padding: 3px 10px 0;
        position: absolute;
        left: 4px;
        top: 1px;
        right: 30px;
        width: 136px;
    }

    html[dir="rtl"] div#header_logo {
        left: 30px;
        right: 4px;
    }

    header img {
        height: 36px;
        width: auto;
    }

    header div#header_forms form {
        position: absolute;
        top: -20px;
        left: 130px;
    }

    html[dir="rtl"] header div#header_forms form {
        left: auto;
        right: 130px;
    }

    #filter-form {
        margin-bottom: 10px;
    }

}

@media screen and (max-width: 479px) {
    header div#header_forms form input {
        width: 120px;
    }
}

@media screen and (max-width: 359px) {
    header div#header_forms form {
        display: none;
    }
}

/* ========== */

main {
    margin-left: 20px;
    margin-right: 20px;
}

div.section_title {
    display: none;
}

@media screen and (max-width: 640px) {
    main {
        margin-left: 10px;
        margin-right: 10px;
    }

    div.section_title {
        display: block;
        margin-bottom: 4px;
    }
}

/* ========== */

footer {
    clear: both;
    position: relative;
    font-size: 0.9rem;
    margin: 0 20px;
    padding: 4px 0;
    height: 20px;
}

div#footer_left {
    float: left;
}

html[dir="rtl"] div#footer_left {
    direction: ltr;
    float:right;
}

div#footer_right {
    float: right;
}

html[dir="rtl"] div#footer_right {
    float: left;
}

@media screen and (max-width: 640px) {
    footer {
        margin: 0 10px;
    }
}

/* ========== */

div.box {
    background-color: #ddddd4;
    padding: 20px;
    border-radius: 4px;
}

/* ==========  */

div#tabs > ul {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    margin: 10px 0 0 0;
    padding: 0;
    overflow-x: auto;
    overflow-y: hidden;
}

div#tabs > ul:before {
    position: sticky;
    left: 0;
    content: attr(data-left);
    font-weight: bold;
    background-color: #ffffff;
    padding: 2px 4px;
}


div#tabs > ul:after {
    position: sticky;
    right: 0;
    content: attr(data-right);
    font-weight: bold;
    background-color: #ffffff;
    padding: 2px 4px;
}

div#tabs > ul > li {
    list-style: none;
    white-space: nowrap;
    border: 1px solid #ddddd4;
    border-radius: 4px;
    margin: 0 4px 0 0;
}

div#tabs > ul > li > a {
    display: block;
    padding: 2px 8px 4px 8px;
    font-size: 1.2rem;
    color: #505050;
    text-decoration: none;
}

div#tabs > ul > li.active {
    background-color: #ddddd4;
}

div#tabs > ul > li.active > a {
    color: #000000;
}

div#tabs > div {
    position: relative;
    top: -3px;
    padding: 20px;
    background-color: #ddddd4;
    border-radius: 4px;
}

/* ==========  */

div#tabs h2, div.box h2 {
    margin: 0 0 10px 0;
    font-size: 1.2rem;
}

div#tabs form {
    margin-bottom: 6px;
    font-size: 0.8rem;
}

/* ========== */

span.badge {
    position: relative;
    top: -1px;
    color: #202020;
    border: 1px solid #b8b8b0;
    font-weight: bold;
    font-size: 0.8rem;
    padding: 0 4px;
    border-radius: 4px;
}

span.lang {
    background-color: #f0e0f0;
}

span.unicode-script {
    background-color: #e0f0e0;
}

span.unicode-gc {
    background-color: #e0f0f0;
}

.note {
    font-size: 0.8rem;
}

td.number {
    text-align: right;
    width: 8em;
}

span.char {
    background-color: #f0f0f0;
    border: 1px solid #e0e0e0;
    padding: 0 2px;
    border-radius: 4px;
}

/* ========== */

#comparison-list {
    position: relative;
    margin: 0 20px 0 0;
    height: 2.5ex;
    float: right;
    font-size: 0.9rem;
    border: 1px solid #a0a0a0;
    border-radius: 4px;
    padding: 2px 28px 2px 4px;
}

html[dir="rtl"] #comparison-list {
    margin: 0 0 0 20px;
    float: left;
}

@media print {
    #comparison-list {
        display: none;
    }
}

#comparison-list div {
    position: relative;
    top: -1px;
}

#comparison-list ul {
    display: none;
    position: absolute;
    margin-top: 1px;
    margin-left: 10px;
    border: 1px solid #a0a0a0;
    background-color: #ffffff;
    padding: 0;
    z-index: 99;
}

#comparison-list li {
    padding: 4px;
    display: block;
    cursor: pointer;
}

#comparison-list:hover ul {
    display: block;
}

/* ========== */

div.value {
    width: 6em;
    float: left;
    padding: 0 !important;
    margin: 0 !important;
    text-align: right;
}

div.fraction {
    width: 5em;
    float: left;
    padding: 0 !important;
    margin: 0 !important;
    text-align: right;
}

div.bar {
    float: left;
    margin: 4px 0 0 6px !important;
    padding: 0 !important;
    height: 8px !important;
    background-color: #a0a098;
}

/* ========== */

span.overflow:hover {
    position: absolute;
    padding-right: 6px;
    background-color: #ffffff;
    z-index: 100;
}

/* ========== */

table.list {
    border-collapse: collapse;
    font-size: 0.8rem;
}

table.list th, table.list td {
    border-right: 1px solid #ddddd4;
    padding: 2px 6px;
}

table.list th {
    background-color: #b8b8b0;
    height: 28px;
    vertical-align: middle;
}

table.list td {
    background-color: #e8e8e4;
    height: 22px;
    vertical-align: top;
}

table.list td.even {
    background-color: #d0d0c8;
}

table.list th.tl, table.list td.tl {
    text-align: left;
}

html[dir="rtl"] table.list th.tl,
html[dir="rtl"] table.list td.tl {
    text-align: right;
}

table.list th.tc, table.list td.tc {
    text-align: center;
}

table.list th.tr, table.list td.tr {
    text-align: right;
}

table.list td.nowrap {
    white-space: nowrap;
}

table.list .warn {
    color: #e00000;
}

/* ==========  */

table.desc {
    background-color: #ddddd4;
    border-radius: 4px;
    padding: 6px;
    width: 100%;
}

table.desc > tbody > tr > th {
    text-align: left;
    vertical-align: top;
    font-weight: normal;
    width: 8em;
    padding: 2px;
}

table.desc > tbody > tr > td {
    vertical-align: top;
    background-color: #f8f8f8;
    padding: 2px 4px;
    border-radius: 1px;
}

table.apiresults td {
    font-size: 0.8rem;
    padding: 2px 4px;
    line-height: 100%;
}

/* ==========  */

ul.reportlist {
    padding-left: 16px;
}

/* ==========  */

div.hDiv table th span {
    display: block;
}

/* ==========  */

.good {
    color: #00a000;
}

.bad {
    color: #ff0000;
}

/* ==========  */

div#help {
    display: none;
}

table.help_table {
    width: 100%;
    border-collapse: collapse;
}

table.help_table td {
    vertical-align: top;
    padding: 2px 6px 2px 0;
}

html[dir="rtl"] table.help_table td {
    padding: 2px 0 2px 6px;
}

table.help_table th {
    padding-bottom: 10px;
    text-align: left;
}

html[dir="rtl"] table.help_table th {
    text-align: right;
}

span.key {
    position: relative;
    top: -1px;
    border: 1px solid #d0d0d0;
    padding: 1px 4px;
    border-radius: 4px;
    background-color: #f0f0f0;
    font-family: monospace;
}

p.search {
    margin: 0 0 16px 0;
}

/* ==========  */

div.wiki_image {
    float: right;
}

div.wiki_image img {
    border: 1px solid #a0a0a0;
    border-radius: 4px;
    padding: 1px;
}

/* ==========  */

.canvas svg text {
    font: 12px Arial,sans-serif;
}

html[dir="rtl"] .canvas svg text {
    font: 12px 'Noto Sans Arabic UI', Tahoma, sans-serif;
}

.canvas .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.canvas .axis path {
    display: none;
}

/**** additions ****/

html[dir="rtl"] .flexigrid,
html[dir="rtl"] input#search,
html[dir="rtl"] p.search,
html[dir="rtl"] #key_list,
html[dir="rtl"] #tag_list,
html[dir="rtl"] #relation_list,
html[dir="rtl"] .number,
html[dir="rtl"] .canvas,
html[dir="rtl"] .wiki-images,
html[dir="rtl"] #overview {
    direction: ltr;
}

html[dir="rtl"] #overview p {
    direction: rtl;
}

html[dir="rtl"] #overview p {
    text-align: left;
}

html[dir="rtl"] #map div {
    position: absolute;
}

/* overwrites inline style="margin: 0 0 0 18px; padding: 0;" */
html[dir="rtl"] td ul {
    margin: 0 18px 0 0!important;
}

/* tooltips */
#tooltip {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 100000;
}

.tooltips {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: inline-block;
}

.tooltips div {
    min-width: 100%;
    display: inline-block;
    position: absolute;
    width: max-content;
    max-width: 400px;
    background: #202020;
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.2;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-out;
}

.tooltips div.OnTop {
    left: 0;
    bottom: 15px;
    transform: translate(-50%, 0);
    text-align: center;
}

.tooltips div.OnTop:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-top: 8px solid #202020;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    bottom: -8px;
    margin-left: -8px;
    left: 50%;
}

.tooltips div.OnBottom {
    left: 0;
    top: 15px;
    transform: translate(-50%, 0);
    text-align: center;
}

.tooltips div.OnBottom:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-bottom: 8px solid #202020;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    top: -8px;
    margin-left: -8px;
    left: 50%;
}

.tooltips div.OnLeft {
    right: 15px;
    top: -15px;
}

.tooltips div.OnLeft:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 8px solid #202020;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    top: 50%;
    margin-top: -8px;
    right: -8px;
}

.tooltips div.OnRight {
    left: 15px;
    top: -15px;
}

.tooltips div.OnRight:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-right: 8px solid #202020;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    top: 50%;
    margin-top: -8px;
    left: -8px;
}

/* ==========  */

div.help-boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 8px;
}

div.help-box {
    flex: 1 1 auto;
    background-color: #ddddd4;
    padding: 8px;
    border-radius: 4px;
}

div.help-box h3 {
    margin: 0 0 6px 0;
}

/* ==========  */

div.fboxes {
    display: flex;
    flex-wrap: wrap;
    gap: 0 20px;
    margin-bottom: 8px;
}

div.fbox {
    flex: 1 1 auto;
    flex-basis: 30em;
}

div.fbox h2 {
    text-transform: uppercase;
    font-weight: normal;
    margin: 16px 0 2px 2px;
}

div.fbox > div {
    background-color: #ddddd4;
    padding: 8px;
    border-radius: 4px;
    height: calc(100% - 54px);
}

div.fbox h3 {
    margin: 10px 0 4px 0;
}

/* ==========  */

div.gboxes {
    display: grid;
    gap: 0 20px;
    margin-bottom: 8px;
    height: calc(100vh - 170px);
    min-height: 400px;
    overflow: auto;
}

@media screen and (min-width: 1025px) {
    div.gboxes {
        grid-template-columns: 240px auto 240px 224px;
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas:
            "keys tagcloud reports about"
            "keys tagcloud reports about"
            "tags tagcloud reports about"
            "tags tagcloud reports about"
            "rels tagcloud reports desc"
            "rels tagcloud reports desc";
    }
}

@media screen and (max-width: 1024px) and (min-width: 641px) {
    div.gboxes {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas:
            "keys reports about"
            "keys reports about"
            "tags reports about"
            "tags reports desc"
            "rels reports desc"
            "rels reports desc";
    }

    #gbox-tagcloud {
        display: none;
    }
}

@media screen and (max-width: 640px) and (min-width: 461px) {
    div.gboxes {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "keys reports"
            "tags reports"
            "rels reports";
    }

    #gbox-tagcloud, #gbox-about, #gbox-desc {
        display: none;
    }
}

@media screen and (max-width: 460px) {
    div.gboxes {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "keys"
            "tags"
            "rels";
    }

    #gbox-tagcloud, #gbox-about, #gbox-desc, #gbox-reports {
        display: none;
    }
}

div.gbox h2 {
    text-transform: uppercase;
    font-weight: normal;
    margin: 16px 0 2px 2px;
}

div.gbox h2 a {
    color: #000000;
    text-decoration: none;
}

div.gbox > div {
    background-color: #ddddd4;
    padding: 8px;
    border-radius: 4px;
    height: calc(100% - 60px);
}

#gbox-keys {
    grid-area: keys;
}

#gbox-tags {
    grid-area: tags;
}

#gbox-relations {
    grid-area: rels;
}

#gbox-tagcloud {
    grid-area: tagcloud;
}

#gbox-reports {
    grid-area: reports;
}

#gbox-about {
    grid-area: about;
}

#gbox-desc {
    grid-area: desc;
}

