/* taginfo.css */

body {
    font-family: Arial,sans-serif;
    padding: 0;
    margin: 0;
    line-height: 130%;
}

img {
    border: 0 none;
}

img.icon_large {
    position: relative;
    top: 3px;
}

h1 {
    margin: 0;
    font-size: 150%;
}

h2 {
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 4px;
}

p {
    margin-top: 2px;
}

p.text {
    max-width: 60em;
}

iframe {
    display: none;
}

/* ========== */

a {
    text-decoration: none;
    color: #083e76;
}

a:hover {
    text-decoration: underline;
}
/*
a.taglink {
    color: #4a837c !important;
}
*/
span.badchar {
    color: #e00000;
}

span.whitespace {
    background-color: #e00000;
}

span.empty {
    font-style: italic;
}

a.wikilink {
    color: #832719 !important;
}

a.extlink {
}

a.section {
    text-transform: uppercase;
    font-size: 200%;
    position: relative;
    top: -9px;
    color: #000000;
    text-decoration: none;
}

/* ==========  */

span.button {
    background-color: #f0f0f0;
    color: #303030;
    border: 1px solid #e8e8e8;
    padding: 2px 4px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    -webkit-border-radius: 4px;
    -chrome-border-radius: 4px;
    -o-border-radius: 4px;
}

span.disabled {
    color: #808080;
}

/* ========== */

div#top {
    margin: 15px 20px;
}

div#top div#top_right {
    position: absolute;
    right: 20px;
    top: 30px;
}

div#top div#top_right form {
    float: left;
    padding-left: 6px;
}

div#date {
    position: absolute;
    top: 10px;
    right: 21px;
    font-size: 80%;
    text-align: right;
    color: #808080;
}

div#top form#set_language {
}

select#locale {
    background-color: #ffffff;
    height: 24px;
    width: 100px;
    padding: 2px;
    border: 1px solid #808080;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    -webkit-border-radius: 4px;
    -chrome-border-radius: 4px;
    -o-border-radius: 4px;
}

input#search {
    background-image: url('/css/flexigrid/images/magnifier.png');
    background-repeat: no-repeat;
    background-position: right 3px;
    height: 18px;
    padding: 2px;
    border: 1px solid #808080;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    -webkit-border-radius: 4px;
    -chrome-border-radius: 4px;
    -o-border-radius: 4px;
}

input#search:active {
}

div#main {
    margin: 20px 20px 0 20px;
}

div#footer {
    clear: both;
    position: relative;
    top: 4px;
    font-size: 90%;
    margin-left: 20px;
}

div#footer_left {
    position: absolute;
}

div#footer_right {
    position: absolute;
    right: 20px;
    text-align: right;
}

/* ========== */

div#tabs {
    margin-top: 14px;
}

div#tabs h2 {
    margin: 0 0 10px 0;
    font-size: 100%;
}

div#tabs form {
    margin-bottom: 6px;
    font-size: 80%;
}

/* ==========  */

table.stats {
    margin-top: 0;
    margin-left: 16px;
    margin-bottom: 20px;
    font-size: 80%;
}

div.stats h2 {
    margin-top: 0;
}

/* ========== */

div#tools {
    float: right;
    font-size: 80%;
    margin-top: 2px;
}

span.lang {
    background-color: #f0e0f0;
    color: #202020;
    border: 1px solid #808080;
    font-weight: bold;
    font-size: 80%;
    padding: 0 4px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    -webkit-border-radius: 4px;
    -chrome-border-radius: 4px;
    -o-border-radius: 4px;
}

td.number {
    text-align: right;
}

span.char {
    background-color: #f0f0f0;
    border: 1px solid #e0e0e0;
    padding: 0 2px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    -webkit-border-radius: 4px;
    -chrome-border-radius: 4px;
    -o-border-radius: 4px;
}

.tag-description {
    color: #808080;
    width: 50%;
}

form#filter-form {
    margin-top: 10px;
    clear: both;
    float: right;
}

div.canvas {
    border: 1px solid #cccccc;
    background-color: #ffffff;
}

/* ========== */

div.value {
    width: 6em;
    float: left;
    padding: 0 !important;
    margin: 0 !important;
    text-align: right;
}

div.fraction {
    width: 5em;
    float: left;
    padding: 0 !important;
    margin: 0 !important;
    text-align: right;
}

div.bar {
    float: left;
    margin: 4px 0 0 6px !important;
    padding: 0 !important;
    height: 8px;
    background-color: #c0c0c0;
}

/* ========== */

table.list {
    width: 100%;
    background-color: #fbfbff0;
    border-collapse: collapse;
}

table.list th, table.list td {
    border: 1px solid #ffffff;
    padding: 3px;
    vertical-align: top;
}

table.list th {
    background-color: rgb(85%,85%,85%);
}

table.list td {
    background-color: rgb(95%,95%,95%);
}

table.list td.even {
    background-color: rgb(90%,90%,90%);
}

table.list th.tl, table.list td.tl {
    text-align: left;
}

table.list th.tc, table.list td.tc {
    text-align: center;
}

table.list th.tr, table.list td.tr {
    text-align: right;
}

/* ========== */

table.drilldown {
    border-collapse: separate;
    border-spacing: 10px;
}

table.drilldown td, table.drilldown th {
    vertical-align: top;
}

table.drilldown th h2 {
    padding: 0;
    margin: 0;
}

table.drilldown td.content {
    width: 16em;
    border: 1px solid #d0d0d0;
    background-color: #f0f0f0;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    -webkit-border-radius: 4px;
    -chrome-border-radius: 4px;
    -o-border-radius: 4px;
    padding: 10px 0;
}

table.drilldown td.content div {
    width: 100%;
    padding: 1px 0;
}

table.drilldown td.content div.current {
    background-color: #e0e0e0;
}

table.drilldown td.arrow {
    vertical-align: middle;
    font-size: 200%;
}

table.drilldown td#feature {
    min-width: 16em;
    padding: 10px;
}

/* ==========  */

table.desc {
    background-color: #f0f0f0;
    padding: 6px;
    width: 100%;
}

table.desc th {
    text-align: left;
    vertical-align: top;
    font-weight: normal;
    width: 8em;
    padding: 2px;
}

table.desc td {
    vertical-align: top;
    background-color: #ffffff;
    padding: 2px;
}

/* ==========  */

table#index {
    width: 100%;
    border-collapse: collapse;
}

table#index h2 {
    margin: 16px 0 2px 0px;
}

table#index h2 a {
    color: #000000;
    text-decoration: none;
}

table#index td {
    vertical-align: bottom;
}

table#index td.box {
    vertical-align: top;
    font-size: 90%;
    background-color: rgb(90%,89%,85%);
    padding: 6px;
    margin-bottom: 10px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    -webkit-border-radius: 4px;
    -chrome-border-radius: 4px;
    -o-border-radius: 4px;
}

table#index td.box p {
    margin: 0;
    padding: 8px;
}

/* ==========  */

div#instance_description a {
    text-decoration: underline;
}

/* ==========  */
