/* taginfo.css */

body {
    font-family: Verdana,sans-serif;
    padding: 0;
    margin: 0;
}

img {
    border: 0 none;
}

img.icon_large {
    position: relative;
    top: 3px;
}

h1 {
    margin-top: 0;
}

h2 {
    margin-top: 20px;
    margin-bottom: 4px;
}

p {
    margin-top: 2px;
}

tt b {
    color: #ff0000;
    font-weight: normal;
}

dd {
    padding-bottom: 12px;
}

iframe {
    display: none;
}

/* ========== */

a {
    text-decoration: none;
    color: #006000;
}

a:hover {
    text-decoration: underline;
}

a.taglink {
    font-family: monospace;
    color: #006000 !important;
}

a.taglink b, h1 b {
    color: #e00000;
}

a.wikilink {
    color: #832719 !important;
}

a.extlink {
    color: #404040 !important;
    text-decoration: underline;
}

/* ========== */

div#top {
    margin: 4px 18px;
    background-image: url('/img/bg-green.png');
    background-repeat: repeat-x;
    background-color: #b0e0b0;
    padding: 2px 16px 0 16px;
    border: 2px solid #ffffff;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;
    -webkit-border-radius: 8px;
    -chrome-border-radius: 8px;
    -o-border-radius: 8px;
}

div#top div#left span.breadcrumbs {
    position: relative;
    left: 8px;
    top: -6px;
}

div#top div#right {
    float: right;
    padding-top: 2px;
}

div#top div#middle {
    float: right;
    padding: 2px 30px 0 0;
}

div#top div#middle input#search {
    background-color: #ffffff;
    background-image: url('/css/flexigrid/images/magnifier.png');
    background-repeat: no-repeat;
    background-position: right 2px;
    border: 2px solid #ffffff;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    -chrome-border-radius: 3px;
    -o-border-radius: 3px;
}

div#date {
    position: absolute;
    right: 20px;
    font-size: 80%;
    text-align: right;
    color: #606060;
}

div#bottom {
    position: fixed;
    bottom: 2px;
    left: 400px;
    right: 400px;
    text-align: center;
    padding: 4px;
}

div#bottom span {
    background-image: url('/img/bg-green.png');
    background-repeat: repeat-x;
    background-color: #b0e0b0;
    padding: 4px 20px;
    overflow: visible;
    border: 2px solid #ffffff;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;
    -webkit-border-radius: 8px;
    -chrome-border-radius: 8px;
    -o-border-radius: 8px;
}

div#main {
    margin: 20px;
}

/* ========== */

div.message {
    text-align: center;
    color: #e02020;
}

div.message span {
    background-color: #f0e0e0;
    border: 1px solid #f08080;
    padding: 2px 8px;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;
    -webkit-border-radius: 8px;
    -chrome-border-radius: 8px;
    -o-border-radius: 8px;
}

/* ========== */

div#tabs {
    font-size: 100%;
}

div#tabs h2 {
    margin: 0 0 4px 0;
    font-size: 110%;
}

div#tabs form {
    margin-bottom: 6px;
    font-size: 80%;
}

/* ==========  */

table#overview {
    position: absolute;
    border-collapse: collapse;
    right: 20px;
    margin-top: 8px;
    background-color: #d0e0f0;
    background-image: url('/img/bg-blue.png');
    background-repeat: repeat-x;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    -chrome-border-radius: 5px;
    -o-border-radius: 5px;
}

table#overview th {
    border-bottom: 1px solid #ffffff;
    font-weight: normal;
    padding: 4px;
}

table#overview td {
    padding: 4px;
    color: #404040;
}

table#overview div.bar {
    background-color: #4080e0;
}

table#overview .count {
    width: 300px;
}

table#overview .values {
    text-align: right;
}

/* ========== */

table.stats {
    margin-top: 0;
    margin-left: 16px;
    margin-bottom: 20px;
    font-size: 80%;
}

div.stats h2 {
    margin-top: 0;
}

/* ========== */

div#tools {
    margin: 10px 0;
}

span.lang {
    font-family: monospace;
    background-color: #f0e0f0;
    color: #202020;
    border: 1px solid #808080;
    font-weight: bold;
    font-size: 80%;
    padding: 0 5px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    -chrome-border-radius: 3px;
    -o-border-radius: 3px;
}

div.value {
    width: 6em;
    float: left;
    padding: 0 !important;
    margin: 0 !important;
    text-align: right;
}

div.fraction {
    width: 5em;
    float: left;
    padding: 0 !important;
    margin: 0 !important;
    text-align: right;
}

div.bar {
    float: left;
    margin: 4px 0 0 6px !important;
    padding: 0 !important;
    height: 8px;
    background-color: #60c060;
}

td.number {
    text-align: right;
    color: #e06000;
}

.source-wiki {
    background-color: #e0d0c0;
    padding: 2px 6px;
    width: 50%;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    -chrome-border-radius: 5px;
    -o-border-radius: 5px;
}

form#filter-form {
    padding-bottom: 20px;
}

div.tagcloud {
    background-color: #f0f0f0;
    padding-bottom: 8px;
    border: 1px solid #e8e8e8;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;
    -webkit-border-radius: 8px;
    -chrome-border-radius: 8px;
    -o-border-radius: 8px;
}

table.list {
    border: 1px solid #605060;
    border-collapse: collapse;
}

table.list th {
    background-color: #606060;
    color: #ffffff;
}

table.list th, table.list td {
    padding: 4px 20px;
}

