<h1><img src="/img/sources/merkaartor.32.png" alt="" title="Merkaartor"/> Merkaartor</h1>

<p><img src="/img/link-extern.gif" alt=""/><a class="extlink" href="http://merkaartor.be/">Merkaartor</a> is an OSM editor.</p>

