<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <style>
body {
    font-family: Verdana,Arial,sans-serif;
    padding: 0;
    margin: 0;
}

div.main {
    width: 180px;
    background-color: #f0f0f0;
    border: 1px solid #e8e8e8;
    padding: 4px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    -webkit-border-radius: 4px;
    -chrome-border-radius: 4px;
    -o-border-radius: 4px;
}

img {
    border: none;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #006000;
}

div.content {
    margin-top: 6px;
    text-align: right;
}

div.content img {
    padding-right: 4px;
}

</style>
    </head>
    <body>
        <div class="main">
<%= yield %>
        </div>
    </body>
</html>
