<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <style>
body {
    font-family: Arial,sans-serif;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

div.main {
    width: 180px;
    background-color: #ffffff;
    border: 1px solid #a0a0a0;
    padding: 4px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    -webkit-border-radius: 4px;
    -chrome-border-radius: 4px;
    -o-border-radius: 4px;
}

a img {
    border: none;
    position: relative;
    top: 1px;
}

a {
    text-decoration: none;
    color: #083e76;
}

div.content {
    margin-top: 6px;
    text-align: right;
}

div.content table {
    border-collapse: collapse;
}

div.content td.ft {
    padding-right: 8px;
}

</style>
    </head>
    <body>
        <div class="main">
<%= yield %>
        </div>
    </body>
</html>
