<h1>About</h1>

<p>OpenStreetMap uses <b>tags</b> to add meaning to geographic objects. There
is no fixed list of those tags. New tags can be invented and used as needed.
Everybody can come up with a new tag and add it to new or existing objects.
This makes OpenStreetMap enormously flexible, but sometimes also a bit hard
to work with.</p>

<p>Whether you are contributing to OSM or using the data, there are always
questions like: What tags do people use for feature X? What tags can I use
for feature Y so that it appears properly on the map? Is the tag Z described
on the wiki actually in use and where?</p>

<p>Taginfo helps you by showing statistics about which tags are actually in the
database, how many people use those tags, where they are used and so on. It
also gets information about those tags from the wiki and from other places. Taginfo
tries to bring together all information about tags to help you understand
how they are used and what they mean.</p>

<h2>Contact</h2>

<p>Taginfo was created and is maintained by <a href="http://wiki.openstreetmap.org/wiki/User:Joto">Jochen Topf</a>. You can contact
me at <a href="mailto:jochen@remote.org">jochen@remote.org</a>.</p>

<h2>Hack it</h2>

<p>All the parts of Taginfo are Open Source. You are welcome to take Taginfo
and play around with. See the &rarr; <a
href="http://wiki.openstreetmap.org/wiki/Taginfo">Taginfo wiki page</a> for
more information.</p>

<p>If you want to access the databases behind Taginfo, you can use our API.
Access is through a RESTful HTTP interface. See the <a href="/api">API</a>
section for more information.</p>

<p>If you want to play around with the data itself, you can download the
regularly updated databases used by Taginfo. All the preprocessing is done for
you. See the <a href="/download">download</a> section for more information.</p>


<h2>Similar tools</h2>

<p>Taginfo is not the first tool to try something like this. Others like
&rarr; <a class="extlink" href="http://wiki.openstreetmap.org/wiki/Tagwatch">Tagwatch</a>,
&rarr; <a class="extlink" href="http://tagstat.hypercube.telascience.org/index.php">Tagstat</a>, and
&rarr; <a class="extlink" href="http://www.osmdoc.com/">Osmdoc</a> came before it.</p>


