
<table class="boxes" width="100%">
    <tr>
        <td><h2><a href="/keys"><%= t.taginfo.about %></a></h2></td>
        <td rowspan="4" width="20"></td>
        <td width="232"><h2><a href="/sources"><%= t.taginfo.sources %></a></h2></td>
        <td rowspan="2" width="20"></td>
        <td width="232"><h2><%= t.taginfo.contact %></h2></td>
    </tr>
    <tr>
        <td class="box">
            <p>OpenStreetMap uses <b>tags</b> to add meaning to geographic objects. There
            is no fixed list of those tags. New tags can be invented and used as needed.
            Everybody can come up with a new tag and add it to new or existing objects.
            This makes OpenStreetMap enormously flexible, but sometimes also a bit hard
            to work with.</p>

            <p>Whether you are contributing to OSM or using the OSM data, there are always
            questions like: What tags do people use for feature X? What tags can I use
            for feature Y so that it appears properly on the map? Is the tag Z described
            on the wiki actually in use and where?</p>

            <p>Taginfo helps you by showing statistics about which tags are actually in the
            database, how many people use those tags, where they are used and so on. It
            also gets information about those tags from the wiki and from other places. Taginfo
            tries to bring together all information about tags to help you understand
            how they are used and what they mean.</p>

            <p>The taginfo software was created and is maintained by
            <a class="extlink" href="http://wiki.openstreetmap.org/wiki/User:Joto">Jochen Topf</a>.
            He also maintains the main taginfo site. <a href="http://www.ctd-studio.co.uk/">Christian
            Topf</a> created the web design.</p>
        </td>
        <td class="box">
            <p>Taginfo integrates data about tags from several sources:</p>
            <p>From the <b>OSM database</b> statistics about key and tag usage.</p>
            <p>The <b>Wiki</b> contains some documentation for keys and tags.</p>
            <p>Icons and styles are taken from the <b>JOSM</b> editor
            configuration.</p>
            <p><a class="extlink" href="http://wiki.openstreetmap.org/wiki/Taginfo/Sources">More information about the sources on the wiki...</a></p>
        </td>
        <td class="box">
            <p>Bug reports should be filed in the
            <a class="extlink" href="http://trac.openstreetmap.org/query?status=accepted&status=assigned&status=new&status=reopened&component=taginfo&order=priority">OSM bug tracker</a>
            using the 'taginfo' component.</p>
            <p>Taginfo developers and site maintainers hang out on the
            <a class="extlink" href="http://lists.openstreetmap.org/listinfo/taginfo-dev">taginfo mailing list</a>.</p>
            <p>You can contact the taginfo maintainer at
            <a class="extlink" href="mailto:jochen@remote.org">jochen@remote.org</a>.</p>
        </td>
    </tr>
    <tr>
        <td>
            <h2>Using taginfo in your own projects</h2>
        </td>
        <td colspan="3">
            <h2>How you can contribute</h2>
        </td>
    </tr>
    <tr>
        <td class="box">
            <p>You can use the data behind taginfo in your own projects:</p>

            <p>If you want to play around with the data itself, you can <b>download</b> the
            regularly updated databases used by taginfo. All the preprocessing is done for
            you. See the <a href="/download">download page</a> for more information.</p>

            <p>Taginfo data can also be accessed through a REST <b>API</b>. See the
            <a href="/taginfo/apidoc">API call documentation</a> for the details, some general information is
            <a class="extlink" href="http://wiki.openstreetmap.org/wiki/Taginfo/API">on the wiki</a>.
            The server running the Taginfo API does not have unlimited resources.
            Please use the API responsibly. If in doubt contact the taginfo maintainers.</p>
        </td>
        <td class="box" colspan="3">
            <p>All the parts of taginfo are Open Source. <b>Programmers</b> can
            <a class="extlink" href="https://github.com/joto/taginfo/">fork taginfo on Github</a>
            and play around with it. We welcome help developing taginfo.</p>
            <p>We also need <b>translators</b> for the taginfo user interface. The
            <a class="extlink" href="https://github.com/joto/taginfo/tree/master/web/i18n">translation
            files</a> are on Github.</p>
            <p>You can run your own
            <a class="extlink" href="http://wiki.openstreetmap.org/wiki/Taginfo/Sites">taginfo site</a>,
            for instance with data for just your own country.</p>
            <p>Contact us on the <a class="extlink" href="http://lists.openstreetmap.org/listinfo/taginfo-dev">taginfo mailing list</a>
            if you can offer any help.</p>
            <p>See the
            <a class="extlink" href="http://wiki.openstreetmap.org/wiki/Taginfo">wiki</a> for
            more information.</p>
        </td>
    </tr>
</table>
