<h1>API</h1>

<p>Taginfo data can be accessed through a REST API. The documentation should
appear here, but isn't done yet. Please look at the source code for Taginfo
or ask Jochen Topf (jochen@remote.org) if you are interested.</p>

<h2>Terms of Use</h2>

<p>The server running the Taginfo API does not have unlimited resources.
Please use the API responsibly. Do not create huge amounts of requests to
get the whole database or large chunks of it, instead use the
<a href="/download">database downloads</a> provided.</p>

