<h1>Download</h1>

<p>
    Here you can download the databases used by Taginfo. All the data is stored
    in <img src="/img/link-extern.gif" alt=""/><a class="extlink" href="http://www.sqlite.org/">Sqlite</a> databases. The database
    files are then packed with <img src="/img/link-extern.gif" alt=""/><a class="extlink" href="http://www.bzip.org/">bzip2</a>.
</p>

<dl>
    <dt><img src="/img/sources/db.16.png" alt="Database"/> <a href="/download/taginfo-db.db.bz2">taginfo-db.db.bz2</a> <i>(~ 540 MB packed, ~ 3.5 GB unpacked)</i></dt>
    <dd>Statistics about each key and each tag from the main OSM database (planet).</dd>
    <dt><img src="/img/sources/wiki.16.png" alt="Wiki"/> <a href="/download/taginfo-wiki.db.bz2">taginfo-wiki.db.bz2</a> <i>(~ 180 kB packed, ~ 740 kB unpacked)</i></dt>
    <dd>Data from the tag and key pages of the OSM wiki.</dd>
    <dt><img src="/img/sources/josm.16.png" alt="JOSM"/> <a href="/download/taginfo-josm.db.bz2">taginfo-josm.db.bz2</a> <i>(~ 25 kB packed, ~ 200 kB unpacked)</i></dt>
    <dd>Configuration data from the JOSM OSM editor.</dd>
    <dt><img src="/img/taginfo.32.png" alt="Taginfo"/> <a href="/download/taginfo-master.db.bz2">taginfo-master.db.bz2</a> <i>(~ 60 kB packed, ~ 130 kB unpacked)</i></dt>
    <dd>Some aggregate statistics and miscellaneous data needed for the Taginfo user interface.</dd>
</dl>

<p>If you don't want to download these databases, but need automated access to the data, you can also use our <a href="/about">API</a>.
