<h1>Download</h1>

<p>
    Here you can download the databases used by Taginfo. All the data is stored
    in <img src="/img/link-extern.gif" alt=""/><a class="extlink" href="http://www.sqlite.org/">Sqlite</a> databases. The database
    files are then packed with <img src="/img/link-extern.gif" alt=""/><a class="extlink" href="http://www.bzip.org/">bzip2</a>.
</p>

<table class="list">
    <tr>
        <th></th><th></th><th>File</th><th>Packed</th><th>Unpacked</th><th>Description</th><th></th>
    </tr>
    <tr><td class="border"></td>
        <td style="text-align: center;"><img src="/img/sources/db.16.png" alt="Database" width="16" height="16"/></td>
        <td><a href="/download/taginfo-db.db.bz2">taginfo-db.db.bz2</a></td>
        <td style="text-align: right;">~ 540 MB</td><td style="text-align: right;">~ 3.5 GB</td>
        <td>Statistics about each key and each tag from the main OSM database (planet).</td>
    <td class="border"></td></tr>
    <tr><td class="border"></td>
        <td style="text-align: center;"><img src="/img/sources/wiki.16.png" alt="Wiki" width="16" height="16"/></td>
        <td><a href="/download/taginfo-wiki.db.bz2">taginfo-wiki.db.bz2</a></td>
        <td style="text-align: right;">~ 180 kB</td><td style="text-align: right;">~ 740 kB</td>
        <td>Data from the tag and key pages of the OSM wiki.</td>
    <td class="border"></td></tr>
    <tr><td class="border"></td>
        <td style="text-align: center;"><img src="/img/sources/josm.16.png" alt="JOSM" width="16" height="16"/></td>
        <td><a href="/download/taginfo-josm.db.bz2">taginfo-josm.db.bz2</a></td>
        <td style="text-align: right;">~ 25 kB</td><td style="text-align: right;">~ 200 kB</td>
        <td>Configuration data from the JOSM OSM editor.</td>
    <td class="border"></td></tr>
    <tr><td class="border"></td>
        <td style="text-align: center;"><img src="/img/taginfo.32.png" alt="Taginfo" width="32" height="16"/></td>
        <td><a href="/download/taginfo-master.db.bz2">taginfo-master.db.bz2</a></td>
        <td style="text-align: right;">~ 60 kB</td><td style="text-align: right;">~ 130 kB</td>
        <td>Some aggregate statistics and miscellaneous data needed for the Taginfo user interface.</td>
    <td class="border"></td></tr>
    <tr><th colspan="7"/></tr>
</table>

<p>If you don't want to download these databases, but need automated access to the data, you can also use the <a href="/about">API</a>.
