<div class="pre">
    <h1 class="section"><%= t.osm.keys %></h1>
    <%= t.pages.keys.intro %>
</div>
<div class="box resize">
    <table id="grid-keys">
    </table>
</div>
<% javascript do
    JQuery.ready do
        JS.raw(%Q{ create_flexigrid_for.keys.keys(); })
    end
end
%>
