<div class="pre">
    <h1 class="section"><%= t.osm.keys %></h1>
    <p><%= t.pages.keys.intro %></p>
</div>
<div class="box resize">
    <table id="grid-keys">
    </table>
</div>
<% javascript "#{ r18n.locale.code }/keys" %>
