<h1 style="text-transform: uppercase;"><%= t.osm.keys %></h1>

<table id="grid-keys">
</table>

<% javascript do
    JQuery.ready do
        JS.raw(%Q{ create_flexigrid_for.keys.keys(); })
    end
end
%>
