<h1>Languages</h1>

<p>Taginfo knows about the following languages:</p>

<table>
    <% Language.each do |lang| %>
        <tr><td><span class="lang"><%= lang.code %></span></td><td><%= lang.english_name %></td><td><%= lang.native_name %></td></tr>
    <% end %>
</table>

<p>Please tell us, if we are missing a language used in OSM tags.</p>

