<div class="box" style="text-align: center">
    <h1 class="section" style="font-size: 2.6rem; margin: 40px 0;">404 <%= h(t.pages.not_found.title) %></h1>
    <%= h(t.pages.not_found.intro) %>
</div>
