<div class="pre">
    <h1 class="section"><%= h(t.taginfo.projects) %></h1>
    <p><%= t.pages.projects.intro %></p>
</div>
<div class="box resize">
    <table id="grid-projects">
    </table>
</div>
