<div class="pre ui-helper-clearfix">
    <div id="pre-text">
        <h1 class="section"><%= h(t.taginfo.projects) %></h1>
        <p><%= t.pages.projects.intro %></p>
    </div>
</div>
<div class="box resize">
    <table id="grid-projects">
    </table>
</div>
