<div class="pre">
    <h1 class="section"><%= t.pages.relations.name %></h1>
    <p><%= t.pages.relations.intro %></p>
</div>
<div class="box resize">
    <table id="grid-relations">
    </table>
</div>
