<div>
    <div>
        <h1 class="section"><%= h(t.osm.tags) %></h1>
        <p><%= h(t.pages.tags.intro) %></p>
    </div>
</div>
<div class="box resize">
    <table id="grid-tags">
    </table>
</div>
