<h1 style="text-transform: uppercase;"><%= t.osm.tags %></h1>

<table id="grid-tags">
</table>

<% javascript do
    JQuery.ready do
        JS.raw(%Q{ create_flexigrid_for.tags.tags(); })
    end
end
%>
