<div class="pre">
    <h1 class="section"><%= t.osm.tags %></h1>
    <p><%= t.pages.tags.intro %></p>
</div>
<div class="box resize">
    <table id="grid-tags">
    </table>
</div>
<% javascript do
    JQuery.ready do
        JS.raw(%Q{ create_flexigrid_for.tags.tags(); })
    end
end
%>
