<% @nosearch = true
   @css = <<'CSS'
div#search_box {
    text-align: center;
}

div#search_box p {
    max-width: 100%;
    font-size: 0.8rem;
}

main input#search {
    padding: 2px 6px;
}
CSS
%>
<div>
    <div style="clear: both; height: 240px;"></div>
    <div id="search_box">
        <form id="search_form" action="/search"><input type="text" id="search" name="q" value="<%= h(params[:q]) %>"/></form>
        <p>Search the taginfo database.<br/>
        Formats: KEY, KEY=VALUE, =VALUE, ...</p>
    </div>
</div>
