<div class="pre">
    <h1>taginfo META</h1>
    <p>This section is for developers only.</p>
</div>
<div class="box resize">
    <ul>
        <li><a href="/taginfo/apidoc"><%= t.taginfo.apidoc %></a></li>
        <li><a href="/taginfo/i18n">taginfo text translations</a></li>
    </ul>
</div>
