<div lang="en" dir="ltr">
    <h1 class="section">Error log for project file</h1>
</div>
<div class="box" lang="en" dir="ltr">
    <p><a href="/taginfo/projects">Project list</a></p>
    <h2><%= h(@data['name']) %></h2>
    <pre>
<%= h(@data['error_log']) %>
    </pre>
</div>
