<h1><img src="/img/sources/josm.32.png" alt="" title="JOSM"/> JOSM</h1>

<p><img src="/img/link-extern.gif" alt=""/><a class="extlink" href="http://josm.openstreetmap.de/">JOSM</a> is one of the most popular OSM editors.</p>

<p>Currently only the standard style is read from the JOSM config. Other styles
as well as the presets will be added in the future.</p>

<ul>
    <li><a href="/sources/josm/styles">Styles</a></li>
<!--    <li><a href="/sources/josm/presets">Presets</a></li>-->
</ul>

