<h1><img src="/img/josm.32.png" alt="" title="JOSM"/> JOSM Style: <%= @stylename %></h1>

<table id="grid-rules">
</table>

<% javascript do
    JQuery.ready do
        JS.raw(%Q{ create_flexigrid_for.sources.josm.style('#{ @stylename }'); })
    end
end
%>
