<h1><img src="/img/sources/potlatch.32.png" alt="" title="Potlatch"/> Potlatch</h1>

<table class="drilldown"><tr>
    <th><h2>&#x278a; Categories</h2></th>
    <th></th>
    <th><h2>&#x278b; Features</h2></th>
    <th></th>
    <th><h2>&#x278c; Feature</h2></th>
</tr><tr>
    <td class="content" id="categories">
        <% @categories.each do |row| %>
            <div>&nbsp;&nbsp;<a href="/sources/potlatch/categories#<%= escape row['id'] %>"><%= row['name'] %></a></div>
        <% end %>
    </div>
    <td class="arrow">&#x2771;</td>
    <td class="content" id="features"></td>
    <td class="arrow">&#x2771;</td>
    <td class="content" id="feature"></td>
</tr></table>

<script type="text/javascript">

jQuery('#categories a').bind('click', function() {
    jQuery('#categories div').removeClass('current');
    jQuery(this).parent().addClass('current');
    jQuery('#feature').html('');
    jQuery.ajax({
        url: this.href.replace(/#/, '/'),
        success: function(html) {
            jQuery('#features').html(html);
        }
    });
    return false;
});

</script>
